<meta charset="UTF-8"/>
    <meta name="robots" content="index,follow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="author" content="Belajarpython"/>
    <meta name="language" content="Indonesia"/>
    <meta name="description" content="Tutorial Pemrograman Python Bahasa Indonesia"/>
    <meta name="google-site-verification" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:title" content="{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }} – {{ site.description }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Tutorial Pemrograman Python Bahasa Indonesia"/>
    <meta property="og:image" content=""/>
    <meta name="twitter:description" content="Tutorial Pemrograman Python Bahasa Indonesia"/>
    <meta name="twitter:image:src" content=""/>
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }} – {{ site.description }}"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="Belajarpython.com"/>
    <meta name="twitter:creator" content="Belajarpython"/>