<!DOCTYPE html>
<html lang="en">
  <head>
    {% include meta.html %}
    <link rel="shortcut icon" href=""/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css?v=1.2.6" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/main.css?v=1.2.6" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="icon" href="/images/favicon.png"/>
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#1f415f"/>
    <!-- Bootstrap CSS Fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Google+Sans|Roboto:100,200,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }} – {{ site.description }}</title>
    <!-- Structure content implementation -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://belajarpython.com",
        "name": "Belajarpython",
        "description": "Tutorial Pemrograman Python Bahasa Indonesia"
      }
    </script>
  </head>
  <body>
    <div class="container-bp">
      <nav id="navbar-bp" class="navbar navbar-expand-lg fixed-top navbar-bp">
        <a id="navbar-brand-white" class="navbar-brand" href="/"><img src="/images/logo-belajarpython-140.png" alt="logo-groovy" width="140px"/></a>
        <a id="navbar-brand-grad" class="navbar-brand" href="/"><img src="/images/logo-belajarpython-140.png" alt="logo-groovy" width="140px"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon navbar-toggler-menu"><i class="material-icons" style="color:#fff;font-size:25px;padding-top:2px;">menu</i></i></span>
          <span class="navbar-toggler-icon navbar-toggler-close"><i class="material-icons" style="color:#fff;font-size:25px;padding-top:2px;">close</i></i></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/tutorial/apa-itu-python">Tutorial</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#article">Artikel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contribute">Kontribusi</a>
            </li>
          </ul>
          <a id="sign-in-button-white" href="https://github.com/belajarpythoncom/belajarpython.com" class="sign-in-button hoverable" style="font-size:13px;">Join on Github <img src="/images/icon-github.svg" class="button-github-yellow-img"/></a>
          <a id="sign-in-button-grad" href="https://github.com/belajarpythoncom/belajarpython.com" class="sign-in-button hoverable" style="font-size:13px;">Join on Github <img src="/images/icon-github.svg" class="button-github-yellow-img"/></a>
        </div>
      </nav>
      
      
      
    
    {% if page.title %}
    <div class="page-wrapper">
      <div class="page-header">
        
      </div>
      {{ content }}
    </div>
    {% else %}
    <div class="main-wall">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2>Mulai Belajar Python</h2>
              <p>Python adalah bahasa pemrograman yang memungkinkan Anda bekerja lebih cepat dan mengintegrasikan sistem Anda lebih efektif.</p>
              <a href="/tutorial/apa-itu-python" class="button-white hoverable">Pelajari Sekarang</a>
            </div>
            <div class="col-md-6">
              
            </div>
          </div>
          <div class="main-wall-companies-using-python">
            &nbsp;
          </div>
        </div>
      </div>
      
      <div class="three-step-python">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <img src="/images/tutorial-belajarpython.png"/>
              <h3>Ikuti Tutorial</h3>
              <p>Mulai belajar bahasa pemrograman python dari tingkat dasar dengan tutorial yang dikhususkan untuk pemula agar lebih cepat mempelajari bahasa pemrograman python</p>
            </div>
            <div class="col-md-4">
              <img src="/images/artikel-belajarpython.png"/>
              <h3>Baca Artikel</h3>
              <p>Baca artikel terbaru dan terpopuler tentang bahasa pemrograman python dengan beragam topik. Artikel dibuat oleh komunitas dan ditujukan untuk komunitas</p>
            </div>
            <div class="col-md-4">
              <img src="/images/forum-belajarpython.png"/>
              <h3>Ajukan Pertanyaan</h3>
              <p>Ajukan setiap pertanyaan yang anda temui tentang bahasa pemrograman python. Setiap orang di komunitas akan segera menyelesaikan setiap pertanyaan pengguna</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="latest-article" id="article">
        <div class="container latest-article-head">
          <h3>Artikel Pilihan</h3>
         <!-- <p>Thousands of people from the TensorFlow community participated in the second TensorFlow Dev Summit. Watch the keynote and talks now.</p> -->
        </div>
        <div class="latest-article-content">
          <div class="row">
            
            <div class="col-md-4 col-12 article-item">
              <div class="latest-article-card">
                <a href="/2018/09/3-library-python-terbaik-untuk-data-science.html">
                  <div class="card article-card">
                    <img class="card-img-top article-image" src="https://belajarpython.com/images/posts/3-library-populer-data-science.png" alt="Card image cap">
                    <div class="card-body article-title-wrapper">
                      <h6 class="card-subtitle mb-2 text-muted">INFO, TUTORIAL</h6>
                      <h4 class="card-title">3 Library Python Terpopuler Untuk Data Science</h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            
            <div class="col-md-4 col-12 article-item">
              <div class="latest-article-card">
                <a href="/2018/09/5-tren-teratas-tentang-python-minggu-ini-di-github.html">
                  <div class="card article-card">
                    <img class="card-img-top article-image" src="https://belajarpython.com/images/posts/5-weekly-trending-sept-2018.png" alt="Card image cap">
                    <div class="card-body article-title-wrapper">
                      <h6 class="card-subtitle mb-2 text-muted">INFO</h6>
                      <h4 class="card-title">5 Tren Teratas Tentang Python Minggu ini di Github</h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            
            <div class="col-md-4 col-12 article-item">
              <div class="latest-article-card">
                <a href="/2018/09/python-melesat-di-daftar-bahasa-pemrograman-yang-paling-populer.html">
                  <div class="card article-card">
                    <img class="card-img-top article-image" src="https://belajarpython.com/images/posts/python-bahasa-pemrograman-populer.png" alt="Card image cap">
                    <div class="card-body article-title-wrapper">
                      <h6 class="card-subtitle mb-2 text-muted">BERITA</h6>
                      <h4 class="card-title">Python Melesat di Daftar Bahasa Pemrograman Yang Paling Populer</h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            
            <div class="col-md-4 col-12 article-item">
              <div class="latest-article-card">
                <a href="/2018/05/sastrawi-natural-language-processing-bahasa-indonesia.html">
                  <div class="card article-card">
                    <img class="article-image" src="https://belajarpython.com/images/posts/sastrawi.png" alt="Card image cap">
                    <div class="card-body article-title-wrapper">
                      <h6 class="card-subtitle mb-2 text-muted">TUTORIAL</h6>
                      <h4 class="card-title">Sastrawi, Natural Language Processing Mudah Dengan Python</h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            
            
<!--             
            <div class="col-md-4 col-12 article-item">
              <div class="latest-article-card">
                <a href="/2018/05/sastrawi-natural-language-processing-bahasa-indonesia.html">
                  <div class="card article-card">
                    <img class="card-img-top article-image" src="https://is1-ssl.mzstatic.com/image/thumb/Purple71/v4/47/cf/cf/47cfcf79-9e1d-b21f-8e10-2658b7650c15/mzl.oiljceng.png/246x0w.jpg" alt="Card image cap">
                    <div class="card-body article-title-wrapper">
                      <h6 class="card-subtitle mb-2 text-muted">TUTORIAL</h6>
                      <h4 class="card-title">Sastrawi, Natural Language Processing Mudah Dengan Python</h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            
            <div class="col-md-4 col-12 article-item">
              <div class="latest-article-card">
                <a href="/2018/05/sastrawi-natural-language-processing-bahasa-indonesia.html">
                  <div class="card article-card">
                    <img class="card-img-top article-image" src="https://is1-ssl.mzstatic.com/image/thumb/Purple71/v4/47/cf/cf/47cfcf79-9e1d-b21f-8e10-2658b7650c15/mzl.oiljceng.png/246x0w.jpg" alt="Card image cap">
                    <div class="card-body article-title-wrapper">
                      <h6 class="card-subtitle mb-2 text-muted">TUTORIAL</h6>
                      <h4 class="card-title">Sastrawi, Natural Language Processing Mudah Dengan Python</h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            
            <div class="col-md-4 col-12 article-item">
              <div class="latest-article-card">
                <a href="/2018/05/sastrawi-natural-language-processing-bahasa-indonesia.html">
                  <div class="card article-card">
                    <img class="card-img-top article-image" src="https://is1-ssl.mzstatic.com/image/thumb/Purple71/v4/47/cf/cf/47cfcf79-9e1d-b21f-8e10-2658b7650c15/mzl.oiljceng.png/246x0w.jpg" alt="Card image cap">
                    <div class="card-body article-title-wrapper">
                      <h6 class="card-subtitle mb-2 text-muted">TUTORIAL</h6>
                      <h4 class="card-title">Sastrawi, Natural Language Processing Mudah Dengan Python</h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            
            <div class="col-md-4 col-12 article-item">
              <div class="latest-article-card">
                <a href="/2018/05/sastrawi-natural-language-processing-bahasa-indonesia.html">
                  <div class="card article-card">
                    <img class="card-img-top article-image" src="https://is1-ssl.mzstatic.com/image/thumb/Purple71/v4/47/cf/cf/47cfcf79-9e1d-b21f-8e10-2658b7650c15/mzl.oiljceng.png/246x0w.jpg" alt="Card image cap">
                    <div class="card-body article-title-wrapper">
                      <h6 class="card-subtitle mb-2 text-muted">TUTORIAL</h6>
                      <h4 class="card-title">Sastrawi, Natural Language Processing Mudah Dengan Python</h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
             -->
            
          </div>
        </div>
        <div class="latest-article-button">
          <a href="">LIHAT SEMUA ARTIKEL <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
    {% endif %}
      
    
    
      
      <footer>
        <div class="row">
          <div class="col-md-6 footer-social">
            <a href="https://instagram.com/belajarpython" target="_blank" rel="noopener"><i class="fab fa-instagram fa-lg"></i></a>
            <a href="https://github.com/belajarpythoncom" target="_blank" rel="noopener"><i class="fab fa-github fa-lg"></i></a>
            <a href="https://www.patreon.com/bePatron?u=4319507" target="_blank" rel="noopener"><i class="fab fa-patreon fa-lg"></i></a>
            <a href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fwww.belajarpython.com%2F2015%2F05%2Ftipe-data-python.html&ref_src=twsrc%5Etfw&region=follow_link&screen_name=belajarpython&tw_p=followbutton" target="_blank" rel="noopener"><i class="fab fa-twitter fa-lg"></i></a>
            <a href="https://plus.google.com/+Belajarpython" target="_blank" rel="noopener"><i class="fab fa-google-plus fa-lg"></i></a>
            <a href="https://www.facebook.com/belajarpython/" target="_blank" rel="noopener"><i class="fab fa-facebook fa-lg"></i></a>
          </div>
          <div class="col-md-6 footer-menu">
            <a href="/">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="https://goo.gl/forms/ZPyZgIagXcanYwzH2">CONTACT</a>
            <a href="/press">PRESS</a>
            <a href="/donate">DONATE</a>
          </div>
        </div>
      </footer>
    </div>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% include analytics.html %}
    <script>
      var myAnimation = {
      
          flagAdd: true,
      
          elements: [],
      
          init: function (elements) {
              this.elements = elements;
          },
      
          add : function() {
              if(this.flagAdd) {
                  for(var i=0; i < this.elements.length; i++) {
                      document.getElementById(this.elements[i]).className += " animation";
                  }
                  this.flagAdd = false;
              }
          },
      
          remove: function() {
              for(var i=0; i < this.elements.length; i++) {
                  document.getElementById(this.elements[i]).className =
                          document.getElementById(this.elements[i]).className.replace( /(?:^|\s)animation(?!\S)/g , '' );
              }
              this.flagAdd = true;
          }
      
      };
      
      /**
       * Init the object. Pass the object the array of elements
       * that we want to change when the scroll goes down
       */
      myAnimation.init(  [
          "navbar-bp",
          "navbar-brand-white",
          "navbar-brand-grad",
          "sign-in-button-white",
          "sign-in-button-grad",
      ]);
      
      /**
       * Function that manage the direction
       * of the scroll
       */
      function offSetManager(){
      
          var yOffset = 0;
          var currYOffSet = window.pageYOffset;
      
          if(yOffset < currYOffSet) {
              myAnimation.add();
          }
          else if(currYOffSet == yOffset){
              myAnimation.remove();
          }
      
      }
      
      /**
       * bind to the document scroll detection
       */
      window.onscroll = function(e) {
          offSetManager();
      }
      
      /**
       * We have to do a first detectation of offset because the page
       * could be load with scroll down set.
       */
      offSetManager();
      
      
      //Navbar Toggler
      $(".navbar-toggler-menu").click(function(){
          $(".navbar-toggler-menu").hide();
          $(".navbar-toggler-close").show();
      });
      $(".navbar-toggler-close").hide();
      $(".navbar-toggler-close").click(function(){
          $(".navbar-toggler-close").hide();
          $(".navbar-toggler-menu").show();
      });
    </script>
<!-- Hotjar Tracking Code for belajarpython.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1119235,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
  </body>
</html>
