---
layout: default
---


<div class="page-content container">
  <div class="entry">
    <div class="row">
      <div class="col-3 hide-mobile">
        <div class="tutorial-menu">
          <ul>
            <li class="{% if(page.title == 'Pendahuluan Python' ) %}active{% endif%}"><a href="/tutorial/apa-itu-python">Pendahuluan</a></li>
            <li class="{% if(page.title == 'Instalasi Python' ) %}active{% endif%}"><a href="/tutorial/instalasi-python">Instalasi</a></li>
            <li class="{% if(page.title == 'Menjalankan Python' ) %}active{% endif%}"><a href="/tutorial/menjalankan-python">Menjalankan</a></li>
            <li class="{% if(page.title == 'Hello World Python' ) %}active{% endif%}"><a href="/tutorial/hello-world-python">Hello World</a></li>
            <li class="{% if(page.title == 'Komentar Python' ) %}active{% endif%}"><a href="/tutorial/komentar-python">Komentar</a></li>
            <li class="{% if(page.title == 'Tipe Data Python' ) %}active{% endif%}"><a href="/tutorial/tipe-data-python">Tipe Data</a></li>
            <li class="{% if(page.title == 'Variabel Python' ) %}active{% endif%}"><a href="/tutorial/variabel-python">Variabel</a></li>
            <li class="{% if(page.title == 'Operator Python' ) %}active{% endif%}"><a href="/tutorial/operator-python">Operator</a></li>
            <li class="{% if(page.title == 'Kondisi Python' ) %}active{% endif%}"><a href="/tutorial/kondisi-if-else-python">Kondisi</a></li>
            <li class="{% if(page.title == 'Loop Python' ) %}active{% endif%}"><a href="/tutorial/loop-python">Loop</a></li>
            <li class="{% if(page.title == 'Number Python' ) %}active{% endif%}"><a href="/tutorial/number-python">Number</a></li>
            <li class="{% if(page.title == 'String Python' ) %}active{% endif%}"><a href="/tutorial/string-python">String</a></li>
            <li class="{% if(page.title == 'List Python' ) %}active{% endif%}"><a href="/tutorial/list-python">List</a></li>
            <li class="{% if(page.title == 'Tuple Python' ) %}active{% endif%}"><a href="/tutorial/tuple-python">Tuple</a></li>
            <li class="{% if(page.title == 'Dictionary Python' ) %}active{% endif%}"><a href="/tutorial/dictionary-python">Dictionary</a></li>
            <li class="{% if(page.title == 'Tanggal & Waktu Python' ) %}active{% endif%}"><a href="/tutorial/tanggal-waktu-python">Tanggal & Waktu</a></li>
            <li class="{% if(page.title == 'Fungsi Python' ) %}active{% endif%}"><a href="/tutorial/fungsi-python">Fungsi</a></li>
            <li class="{% if(page.title == 'Modul Python' ) %}active{% endif%}"><a href="/tutorial/modul-python">Modul</a></li>
            <li class="{% if(page.title == 'File I/O Python' ) %}active{% endif%}"><a href="/tutorial/file-io-python">File I/O</a></li>
            <li class="{% if(page.title == 'Exception Python' ) %}active{% endif%}"><a href="/tutorial/exception-python">Exception</a></li>
            <li class="{% if(page.title == 'Object & Class Python' ) %}active{% endif%}"><a href="/tutorial/object-class-python">Object & Class</a></li>
            <li class="{% if(page.title == 'Akses Database Python' ) %}active{% endif%}"><a href="/tutorial/akses-database-python">Akses Database</a></li>
            <li class="{% if(page.title == 'Networking Python' ) %}active{% endif%}"><a href="/tutorial/networking-python">Networking</a></li>
            <li class="{% if(page.title == 'Pengembangan Web Python' ) %}active{% endif%}"><a href="/tutorial/pengembangan-web-python">Pengembangan Web</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-9">
        <article class="post">
          <h1>{{ page.title }}</h1>
          {{ content }}
          {% include disqus.html %}
        </article>
      </div>
    </div>
  </div>
</div>