---
layout: default
---


<div class="page-content container">
  <div class="entry">
    <div class="row">
      <div class="col-3 hide-mobile">
        <div class="tutorial-menu">
          <ul>
            {% for data in site.tutorial %}
            <li {% if page.title == data.title %}
            class="active" 
            {% else %}
            
            {% endif %}><a href="{{ data.url | relative_url }}">{{ data.title | replace:'Python', '' }}</a></li>
            {% endfor %}
          </ul>
          
        </div>
      </div>
      <div class="col-12 col-md-9">
        <article class="post">
          <h1>{{ page.title }}</h1>
          {{ content }}
          {% include disqus.html %}
        </article>
      </div>
    </div>
  </div>
</div>