<head>
  <meta charset="UTF-8" />
  <meta name="robots" content="index,follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="author" content="Belajarpython" />
  <meta name="language" content="Indonesia" />
  <meta name="description" content="Belajarpython adalah situs terbuka (open source) yang dikembangkan oleh developer untuk developer. Semua orang baik dari kalangan developer, mahasiswa, pengajar, bahkan anak kecil yang baru mempelajari bahasa pemrograman python bisa ikut memberikan kontribusinya">
  <meta name="google-site-verification" content="" />
  <meta property="og:url" content="" />
  <meta property="og:title" content="Belajarpython – Situs Open Source Tutorial Pemrograman Python Bahasa Indonesia." />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Situs Open Source Tutorial Pemrograman Python" />
  <meta property="og:image" content="" />
  <meta name="twitter:description" content="Situs Open Source Tutorial Pemrograman Python" />
  <meta name="twitter:image:src" content="" />
  <meta name="twitter:title"
    content="Belajarpython – Situs Open Source Tutorial Pemrograman Python Bahasa Indonesia." />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="Belajarpython.com" />
  <meta name="twitter:creator" content="Belajarpython" />
  <link rel="icon" href="/img/favicon.png" />
  <!-- <link rel="manifest" href="/manifest.json"> -->
  <meta name="theme-color" content="#2a5880" />
  <link rel="stylesheet" type="text/css" href="/css/base.css?v=1.2.8" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/atom-one-dark-reasonable.min.css">
  <script src="https://highlightjs.org/static/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "https://belajarpython.com",
      "name": "{% if page.title %}{{ page.title }}{% endif %}",
      "description": "{{ config.site_name }}"
    }
  </script>
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
</head>